.characters {
	max-width: 1220px;
	margin: 0 auto;
	padding: 2.2rem 1rem 1.4rem;

	&__title {
		font-family: var(--font-title);
		color: var(--color-primary);
		font-size: 2.3rem;
		margin-bottom: 2rem;
		text-align: center;
		letter-spacing: 2px;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
		gap: 2.4rem;
		padding: 0.8rem 0.2rem 0;

		@media (max-width: 1100px) {
			grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
			gap: 1.7rem;
		}
		@media (max-width: 700px) {
			grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
			gap: 1rem;
		}
		@media (max-width: 480px) {
			grid-template-columns: 1fr;
			gap: 0.7rem;
		}
	}

	&__pagination {
		display: flex;
		gap: 1.5rem;
		justify-content: center;
		align-items: center;
		margin-top: 2.2rem;
		button {
			background: var(--color-primary);
			color: #181818;
			font-family: var(--font-title);
			border: none;
			border-radius: 2rem;
			padding: 0.6rem 1.7rem;
			font-size: 1.1rem;
			cursor: pointer;
			font-weight: 700;
			letter-spacing: 1px;
			box-shadow: 0 2px 12px #fcaf1744;
			transition: background 0.16s, color 0.16s;
			&:disabled {
				background: #aaa;
				color: #fff;
				cursor: not-allowed;
				opacity: 0.5;
			}
			&:hover:enabled {
				background: #f44800;
				color: #fff;
			}
		}
	}
}
