$color-primary: #fcaf17;
$color-accent: #f44800;
$color-bg-dark: #181818;
$color-bg-light: #f9fafc;
$color-bg-namek: #49f4a4;

$color-text-dark: #f3f3f3;
$color-text-light: #242424;

$navbar-height: 56px;

$font-main: 'Inter', Arial, sans-serif;
$font-title: 'Bebas Neue', 'Arial Black', cursive;
